.contactPage {
    background: #000;
}

.contactPageWrap {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100vh;
    background: url('../../public/img/contact/bg.png');
    background-position: center;
    background-size: cover;
}

.subHeadingWrap {
    display: flex;
    justify-content: center;
}

.subHeading {
    background: linear-gradient(transparent, #eeeeee32);
    border: 1px solid #eeeeee62;
    border-radius: 100px;
    padding: .54em 1rem;
    font-size: .8rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.cpwNew {
    background: linear-gradient(transparent, #eeeeee32);
    border: 1px solid #eeeeee62;
    border-radius: 100px;
    padding: .54em 1rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cpwHeading {
    font-size: 2.8rem;
    background: linear-gradient(#fff, #ffe29d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: afr;
}

.contactParent {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 4rem 1rem;
    gap: 4rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem;
    align-items: center;
    width: 50%;
    min-width: 300px;
    border-radius: 10px;
    background: rgba(82, 82, 82, 0.2);
    border: 1px solid #eeeeee32;
    backdrop-filter: blur(2px);
    position: relative;
    overflow: hidden;
    transition: .4s;
}

.inputField {
    border: 2px solid #eee;
    padding: .4rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 200px;
    width: 90%;
}

.inputField input {
    border: none;
    background: none;
    outline: none;
    padding: .4rem 0;
}

.contactForm button {
    background: linear-gradient(transparent, #eeeeee32);
    border: 1px solid #eeeeee62;
    border-radius: 100px;
    padding: .8em 1rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    text-align: center;
    cursor: pointer;
}

.contactForm::before {
    content: '';
    background: rgba(255, 255, 255, 0.3);
    width: 60%;
    height: 100%;
    top: 0%;
    left: -100%;
    transform: skew(45deg);
    position: absolute;
    animation-direction: left;
    transition-duration: 500ms;
}

.contactForm:hover {
    transform: translateY(-5%);
}

.contactForm:hover::before {
    left: 100%;
}

.contactExtra{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem;
    border-radius: 10px;
    background: rgba(82, 82, 82, 0.2);
    border: 1px solid #eeeeee32;
    backdrop-filter: blur(2px);
}

.contactExtra ul li{
    font-weight: 700;
    color: #777;
}

.contactExtra ul div{
    padding: .2rem 0;
}

@media (max-width: 520px) {
    .contactPageWrap {
        padding: 1rem;
        background-image: url('../../public/img/mobile/6.png');
    }

    .cpwHeading {
        font-size: 2.6rem;
        text-align: center;
    }

    .contactParent {
        flex-direction: column;
        width: 100%;
        gap: 4rem;
    }

    .contactForm {
        width: 100%;
    }
}