.alumniPage {
    background: #000;
}

.alumniPageWrap {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100vh;
    background: url('../../public/img/alumni/bg.png');
    background-position: center;
    background-size: cover;
}

.alumpwNew {
    background: linear-gradient(transparent, #eeeeee32);
    border: 1px solid #eeeeee62;
    border-radius: 100px;
    padding: .54em 1rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.alumpwHeading {
    font-size: 3.4rem;
    background: linear-gradient(#fff, #ffe29d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: afr;
}

.alumpwPara {
    color: #ddd;
    width: 50%;
    text-align: center;
    font-size: .9rem;
}

.heading {
    font-size: 2.4rem;
    background: linear-gradient(#fff, #ffe29d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: afr;
    text-transform: uppercase;
    text-align: center;
    margin: .5rem 0;
}

.subHeadingWrap {
    display: flex;
    justify-content: center;
}

.subHeading {
    background: linear-gradient(transparent, #eeeeee32);
    border: 1px solid #eeeeee62;
    border-radius: 100px;
    padding: .54em 1rem;
    font-size: .8rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.batchesWrap {
    background: url('../../public/img/alumni/Untitled\ design.png');
    background-position: center;
    background-repeat: repeat-y;
}

.batches {
    width: 90%;
    margin: 0 auto;
}

.peoples {
    padding: 4rem 0rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.peoples .people {
    padding: 10px;
    display: flex;
    width: 30%;
    min-width: 320px;
    align-items: center;
    height: 140px;
    border-radius: 80px;
    background: #5f5f5f32;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    backdrop-filter: blur(5px);
    margin: 1rem;
    position: relative;
    overflow: hidden;
    transition: .4s;
}

.peoples .people::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(123, 123, 123, 0.08);
    pointer-events: none;
    transform: skewX(345deg);
}


.peoples .people:hover .text .blur {
    display: flex;
}

.peoples .people img.photo {
    height: 115px;
    width: 115px;
    margin-right: 10px;
    border-radius: 50%;
}

.peoples .people .text p.name {
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 20px;
}

.peoples .people .text p {
    font-size: .85rem;
}

.peoples .people .text .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #222;
    border-radius: 80px;
    color: #264eab;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

.peoples .people .text span {
    width: 100%;
    padding: 8px;
    font-weight: bold;
}

.peoples .people .text .blur img.brand {
    height: 40px;
}

.peoples .people .text a {
    text-decoration: none;
    color: #182848;
    cursor: pointer;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.peoples .people .text .blur a {
    padding: 8px;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: none;
}

@media (max-width: 520px) {
    .alumniPageWrap {
        padding: 1rem;
        background-image: url('../../public/img/mobile/3.png');
    }

    .alumpwHeading {
        font-size: 2.6rem;
        text-align: center;
    }

    .alumpwPara {
        width: 100%;
        font-size: .8rem;
    }

    .batches {
        width: 100%;
    }
    
    .peoples {
        padding: 4rem 1rem;
    }
}